PORT=3000
MONGO_URI=
JWT_SECRET=

# IoT Configuration
SERIAL_PORT=
DUSTBIN_ID=

#blockchain 
RPC_URL="put ur own"
PRIVATE_KEY="put ur own "
CONTRACT_ADDRESS="put your own "

// cloudinary
CLOUD_NAME="put your own"
API_KEY="put your own"
API_SECRET="put your own"
